<span class="nav_toggle">
  <i></i>
  <i></i>
  <i></i>
</span>
<nav class="nav">
  <ul class="nav_menu_ul">
    <li class="nav_menu_li"><a href="#">My Page</a></li>
    <li class="nav_menu_li"><a href="#">Post Detail</a></li>
    <li class="nav_menu_li"><a href="#">ログアウト</a></li>
    <li class="nav_menu_li"><a href="#">退会</a></li>
  </ul>
</nav>
