<div class="error" >
    <% if post.errors.any? %>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <ul><%= message %></ul>
        <% end %>
      </ul>
    <% end %>
</div>