<div class="container mt-5">
  <div class="row my-5">
      <div class="col">
        <h3 class >いいねした投稿</h3>
          <% @favorite_posts.each do |post| %>
            <table class="table">
              <tbody>
                <tr>
                  <td><%= link_to post.title, post_path(post) %> </td>
                </tr>
              </tbody>
            </table>
          <% end %>
      </div>
  </div>
</div>
