<div class="container">
  <h3 class >いいねした投稿</h3>
  <div class="row">
    <div class="col">
      <table class="table">
        <tbody>
          <tr>
            <td><%= link_to @post.title, post_path(@post) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
