<%= stylesheet_link_tag 'events' %>
<div class="container my-5">
  <div class="row my-5">
    <div class="col">
      <h3 class>イベント一覧</h3>
      <% if user_signed_in? %>
        <%= link_to "新しいイベントを作成する", new_event_path, class:"btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
  <%= render 'event',  events: @events %>
</div>