<div class="container">
  <h3 class>New Event</h3>
  <div class="row">
    <%= form_with model:@event, url:events_path do |f| %>
      <div class="col">
        
      </div>
      <div class="col">
          <table class="table table-borderless">
            <tbody>
              <tr><th></th></tr>
            </tbody>
          </table>
      </div>
    <% end %>
  </div>
</div>