<div class="container">
  <div class="row">
    <div clss="col">
      <%= image_tag @event.get_event_image(300,300) %>
    </div>
    <div class="col">
     <table class="table table-borderless">
       <tr><%= @event.event_name %></tr>
     </table>
    </div>
  </div>
</div>