  <span class="slide-in leftAnime">
    <span class="slide-in_inner leftAnimeInner">
      <p class="about-title m-5">先入観をぶち壊せ!!!!</p>
      <p class="about-body m-5">
        先入観とは、はじめに知ったことによって形成された固定的な観念・見解。<br>
        ふつう、それによって自由な思考が妨げられるような場合にいう。<br>
      </p>
      <p class="about-body m-5">
        私たちは、一日のうちにたくさんの決断をしています。<br>
        その数はおよそ3万5000回といわれています。
      </p>
      <p class="about-body m-5">
        あなたが人生にかかわるような大きな決断を行う時、何を行いましたか？<br>
        家族や友達に相談?<br>
        先生や先輩の意見を聞く?<br>
        『君には無理だ』『やめた方がいい』と言われたら諦める？<br>
      </p>
      <p class="about-body m-5">
        世の中には、文理選択/大学選択/学部選択/就活/転職/夢/生き方<br>
        などを支えてくれる様々な情報があふれています。<br>
        どのような決断をした結果どういう経験が得られたのか<br>
        実際に自分と同じ悩みを経験し行動した結果どのような経験を得られたのか。<br>
        よりリアルな声を聞きませんか？<br>
        『新しい景色を見る』『他者のレンズから世界を覗く』<br>
        この言葉を胸に、JOBが皆さんの背中を押せる役割になることを願っています。
      </p>
    </span>
  </span>

  <div class="container my-5">
      <p class="join-title my-3">会員登録したら使用できる機能</p>
      <p class="join-body"><br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>いいね機能<br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>コメント機能<br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>フォロー機能<br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>経験の投稿<br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>イベント投稿/作成/参加<br>
      </p>
  </div>
