<div class="container my-5">
  <div class="row m-5">
    <p class="about-title">JoBについて</p>
  </div>
  <div class="row mx-5">
    <p class="about-body">
      このサイトは、いろいろな人の経験や考えていることを交換する場所です。<br>
        『職業』について<br>
        『学部』について<br>
        『生き方』について<br>
        『夢』について<br>
      いろいろなことに対して先人達が経験して思ったこと、など異なる視点を吸収して偏見や、独断的な判断をなくしていこう。
    </p>
  </div>
</div>