  <span class="slide-in leftAnime">
      <span class="slide-in_inner leftAnimeInner">
        <p class="about-title m-5">先入観をぶち壊せ!!!!</p>
        <div class="col-10 ml-5">
          <p class="about-body m-5 ">
              先入観とは、はじめに知ったことによって形成された固定的な観念・見解。<br>
              ふつう、それによって自由な思考が妨げられるような場合にいう。<br>
          </p>
          <p class="about-body m-5">
              私たちは、一日のうちにたくさんの決断をしています。<br>
              その数はおよそ3万5000回といわれています。
          </p>
          <p class="about-body m-5">
              あなたが人生にかかわるような大きな決断を行う時、何を行いましたか？<br>
              家族や友達に相談?<br>
              先生や先輩の意見を聞く?<br>
              『君には無理だ』『やめた方がいい』と言われたら諦める？<br>
          </p>
          <p class="about-body m-5">
              世の中には、文理選択/大学選択/学部選択/就活/転職/夢/生き方<br>
              などを支えてくれる様々な情報があふれています。<br>
              どのような決断をした結果どういう経験が得られたのか<br>
              実際に自分と同じ悩みを経験し行動した結果どのような経験を得られたのか。<br>
              よりリアルな声を聞きませんか？<br>
              『新しい景色を見る』『他者のレンズから世界を覗く』<br>
              この言葉を胸に、JOBが皆さんの背中を押せる役割になることを願っています。
          </p>
         </div>
      </span>
  </span>
    <span class="slide-in upAnime">
      <span class="slide-in_inner upAnimeInner">
         <div class="col">
          <p class="about-title2">正しい選択ではなく<br>悔いなき選択を</p>
         </div>
      </span>
    </span>
   <span class="slide-in leftAnime">
    <span class="slide-in_inner leftAnimeInner">
      <p class="about-title3 m-5">見たことのない景色をみにいこう</p>
    </span>
   </span>

<!--下半分-->
  <div class="container my-5">
      <p class="join-title my-3">会員登録したら使用できる機能</p>
      <p class="join-body"><br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>いいね機能<br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>コメント機能<br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>フォロー機能<br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>経験の投稿<br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>イベント投稿/作成/参加<br>
      </p>
  </div>
  <div class="container my-5">
    <p class="join-title my-3">投稿機能について</p>
    <p class="join-body">
      JOBはみなさまの投稿によって成り立っているサイトになります。<br>
      そのため、投稿された内容は誰からでも閲覧できる状態となっております。<br>
      さまざまな決断の岐路に立っている人々に役立つ情報を届けるためにご協力お願いいたします。
    </p>
  </div>
  <div class="container my-5">
    <div class="join-title my-3">イベント機能について</div>
    <p class="join-body">
      会員登録を行うことでイベントの作成、参加を行うことができます。<br>
      イベントの作成、参加を行う際にはマナー、ルールを守って行ってください。<br>
      イベントに参加した場合イベントの主催者のみイベント参加者の情報を閲覧できる状態になっています。<br>
      メールにて追加のイベント情報が送信される場合もあるため、ご確認よろしくお願い致します。
    </p>
  </div>
  
