
  <span class="slide-in leftAnime">
    <span class="slide-in_inner leftAnimeInner">
      <p class="about-title m-5">先入観をぶち壊せ!!!!</p>
    </span>
  </span>
  <div class="row mx-5">
    <p class="about-body">
      
    </p>
  </div>
