  <span class="slide-in leftAnime">
    <span class="slide-in_inner leftAnimeInner">
      <p class="about-title m-5">先入観をぶち壊せ!!!!</p>
      <p class="about-body m-5">
        先入観とは、はじめに知ったことによって形成された固定的な観念・見解。<br>
        ふつう、それによって自由な思考が妨げられるような場合にいう。
        
      </p>
    </span>
  </span>
  
  <div class="container my-5">
      <p class="join-title my-3">会員登録したら使用できる機能</p>
      <p class="join-body"><br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>いいね機能<br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>コメント機能<br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>フォロー機能<br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>経験の投稿<br>
        <i class="fa-brands fa-canadian-maple-leaf"></i>イベント投稿/作成/参加<br>
      </p>
  </div>
