<div class="container">
  <div class="row">
    <div class="col">
      <%= @post.title %><br>
      <%= @post.body %>
    </div>
    <div class="col">
      その記事書いた人のプロフィール
    </div>
  </div>
</div>