// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.main-visual-top{
  width: auto;
  height: 500px;
  text-align: center;
}

.main-visual{
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

.main-visual-text{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 23vh;
  letter-spacing: 1vw;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background:url('https://i.pinimg.com/originals/9f/9c/c5/9f9cc5217bb04790e5fb852b665ca2ff.jpg');
  background:url('https://thumbs.dreamstime.com/b/tropical-flower-pattern-seamless-flowers-blossom-flowers-nature-background-vector-illustration-61142748.jpg');
  background-size: auto 200%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 16s linear infinite;
  &:nth-child(2) {
    top: 50vh;
  }
  @keyframes shine {
    from {
      background-position: center 0;
    }
    to {
      background-position: center 200%;
    }
  }
}

.image{
  width: 300px;
  height: 300px;
  margin: auto;
}


*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a.btn-flat
 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

.btn-flat {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: #87ceeb;
}

.btn-flat span {
  position: relative;
}

.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 500%;
  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  background: #00ffff;
}

.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.top-row{
  overflow: auto;
}

::-webkit-scrollbar{
  display: none;
}

.card{
  background-color:#f0f8ff;
  width: 200px;
  height: 300px;
  position: relative;
}

.card a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card:hover{
  cursor: pointer;
  background: #87cefa;
}

.card-text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7; /* 任意の行数を指定 */
}

.card-introduction{
  -webkit-line-clamp: 2;
}

.join-top{
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(
                 #87cefa,#00bfff
  );
}

.about-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  color: #00008b;
}

