// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual{
  width: auto;
  height: 450px;
  background-color: #f5f5f5;
}

.main-visual-top{
  display: flex;
  text-align: center;
}

p{
  font-weight: 900;
  font-size: 50px;
  margin: auto;
  text-align: center;
}

.image{
  width: 300px;
  height: 300px;
  margin: auto;
}

.main-visual-bottom{
  text-align: center;
}

.swiper {
  width: 400px;
  height: 300px;
}

:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}


