// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: #ffffff;
  border-color: #000000;
}

.main-visual{
  width: auto;
  height: 450px;
}

.main-visual-top{
  display: flex;
  text-align: center;
}

p{
  font-weight: 900;
  font-size: 50px;
  margin: auto;
  text-align: center;
}

.image{
  width: 300px;
  height: 300px;
  margin: auto;
}

.main-visual-bottom{
  text-align: center;
}

.btn{
  color: #ffffff;
  background-color: #0000cd;
  width: 300px;
  height: 70px;
}
.col{
  display: flex;
  height: 350px;
}

.card{
  background-color:#f0f8ff;
}


.swiper {
  width: 400px;
  height: 300px;
}

:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}


