// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.container{
  background-color: #ffffff;
}

.main-visual{
  width: auto;
  height: 450px;
}

.main-visual-top{
  display: flex;
  text-align: center;
}

p{
  font-weight: 900;
  font-size: 50px;
  margin: auto;
  text-align: center;
}

.image{
  width: 300px;
  height: 300px;
  margin: auto;
}

.main-visual-bottom{
  text-align: center;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}



a.btn-flat
 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

.btn-flat {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: #4169e1;
}

.btn-flat span {
  position: relative;
}

.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 500%;
  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  background: #00008b;
}

.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.home.col{
  display: flex;
  height: 350px;
}

.card{
  background-color:#f0f8ff;
}


.swiper {
  width: 400px;
  height: 300px;
}

:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}


