* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.box1 {
  width: 450px;
  height: 550px;
  margin: 60px auto 0;
  border: 1px #0000cd solid;
  line-height: 2.0;
}

h2{
  font-weight: 900;
  line-height: 2.0;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #0000cd;
  font-size:50px;
}

.field{
  margin-bottom: 13px;
}

.actions{
  margin-bottom: 26px;
}

.actions input[type="submit"]{
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#0000cd,#0000cd);
  border-radius: 3px;
  border: 1px #0000cd solid;
  color:#ffffff;
}

.error{
  color:#dc143c;
  font-size:22px;
}

.error_message{
  color:#dc143c
}

.box2 {
  margin: 60px auto 0;
  line-height: 2.0;
}