* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.box2 {
  width: 350px;
  height: 600px;
  margin: 60px auto 0;
  border: 1px #ddd solid;
  line-height: 2.0;
}

h2{
  font-weight: 900;
  line-height: 3.0;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #8a2be2;
}

.field{
  margin-bottom: 13px;
}

.actions{
  margin-bottom: 26px;
}

.actions input[type="submit"]{
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#8a2be2,#8a2be2);
  border-radius: 3px;
  border: 1px #9932cc solid;
  color:#ffffff;
}

.error{
  color:#dc143c;
}